<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>"Whatever you lose, you'll find it again, but what you throw away you'll never get it back."</p>
    <p><em>-Kenshin Himura</em></p>
  </body>
</html>
